# -----------------------------
# Node / TypeScript
# -----------------------------

# Dependencias
node_modules/

files/

# Builds / Outputs
dist/
build/

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos temporales
*.tmp
*.temp

# Environment variables
.env
.env.local
.env.*.local

# Cache
.cache/
.tmp/
tsconfig.tsbuildinfo

# -----------------------------
# VSCode
# -----------------------------
.vscode/
.history/

# -----------------------------
# Sistema operativo
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Terraform
# -----------------------------
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/crash.log
terraform/*.tfvars
terraform/*.tfvars.json

# Backups de Terraform
*.backup
*.bak

# -----------------------------
# Otros
# -----------------------------
package-lock.json
